body {
	background:#e0e0e0;
	
}
nav {
	background:#1b5e20;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 5px;
	padding:0px;
}
.navbar-brand{
/*	color:white;

	background-color: #004d40;*/
	padding: 0;

}
.nav-link {
	color:#b0bec5 ;
}
li.active > a{
	color:black;
}
nav a:hover {
  color: white;
  background-color: green;

}
p {
	background-color: red;
	color:white;
	padding:10px;
}
.table {
  border-collapse: collapse;
}

.table, th, td {
  border: 1px solid black;
}
.card {
	padding: 5px;
	text-align: center;
}
.card-header {
	color:white;
}

